/* Catalog.css */
.catalog {
  padding: 20px;
  text-align: center; /* Center the title */
  flex-grow: 1;
}

.catalog h1 {
  font-size: 2rem;
  color: #333;
  margin-bottom: 1.5rem;
}

.dog-cards-container {
  display: grid; /* Use grid layout for cards */
  grid-template-columns: repeat(auto-fill, minmax(250px, 1fr)); /* Responsive grid */
  gap: 16px; /* Space between cards */
}

.dog-cards-container li {
  list-style-type: none;
}

.dog-card {
  background-color: #fff; /* White background for the card */
  border-radius: 8px; /* Rounded corners */
  box-shadow: 0 2px 8px rgba(0, 0, 0, 0.1); /* Light shadow */
  padding: 16px; /* Padding inside the card */
  text-align: center; /* Center text */
}

.dog-image {
  width: 100%; /* Responsive image */
  height: auto; /* Maintain aspect ratio */
  border-radius: 8px; /* Match card's corners */
}

@media (max-width: 767px) {
  .catalog ul {
    padding-left: 0;
  }}
